<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CICO Tracker</title>
</head>
<body>
    <h1>CICO Tracker</h1>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Food Name</th>
                <th>Calories</th>
                <th>Meal</th>
                <th>Tags</th>
                <th>Serving Size</th>
                <th>Unit</th>
            </tr>
        </thead>
        <tbody>
            <% foodEntries.forEach(function(foodEntry) { %>
            <tr>
                <td><%= foodEntry.food_entries.dateTime %></td>
                <td><%= foodEntry.food_entries.foodName %></td>
                <td><%= foodEntry.food_entries.calories %></td>
                <td><%= foodEntry.meals.name %></td>
                <td><%= foodEntry.food_entries.tags %></td>
                <td><%= foodEntry.food_entries.servingSize %></td>
                <td><%= foodEntry.food_entries.unit %></td>
                <td>
                    <a href="/food-entry/<%= foodEntry.food_entries.id %>/edit">Edit</a>
                    <a href="/food-entry/<%= foodEntry.food_entries.id %>/delete">Delete</a>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <a href="/food-entry/add">Add Food Entry</a>
</body>
</html>